// Base styles

html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: Calibri;
  color: $plum;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  box-shadow: none;
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

hr {
  margin: 0;
}

// List style

.list {
  &-item {
    color: $blue-zodiac;
  }
}

// Button style

.btn {
  font-family: Calibri;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  color: $white;
  background-color: transparent;
  cursor: pointer;
}

// Icon style

.icon {
  width: 45px;
  height: 45px;
}
